<?xml version="1.0"?>

<model>
  <name>pista23-1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Licia Sales</name>
    <email>liciasclj@insper.edu.br</email>
    <name>Rogério Cuenca</name>
    <email>rogeriobc@insper.edu.br</email>
  </author>

  <description>
    pista23-1
  </description>
</model>

