<?xml version="1.0" encoding="UTF-8"?>

    <launch>

    <arg name="camera_image_topic" default="/camera/rgb/image_raw" /> <!-- cam_image_topic requires the type sensor_msgs/Image , put /camera/rgb/image_raw or /camera/depth/image_raw-->
    <arg name="camera_info_topic" default="/camera/rgb/camera_info" /> <!--/kinect_head/rgb/camera_info put /camera/rgb/camera_info-->
    <arg name="output_frame" default="/base_link" /> <!-- camera_link also tried-->

    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkers" respawn="false" output="screen">
        <remap from="camera_image"  to="$(arg camera_image_topic)" />
        <remap from="camera_info"   to="$(arg camera_info_topic)" /> 
    </node>

</launch>

