<launch>
  <arg name="model" default="$(find mybot_description)/urdf/insper.urdf.xacro"/>
 
  <include file="$(find my_simulation)/launch/garra.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <rosparam command="load"
            file="$(find  mybot_description)/config/joints.yaml"
            ns="r2d2_joint_state_controller" />
  <rosparam command="load"
            file="$(find  mybot_description)/config/head.yaml"
            ns="r2d2_head_controller" />
  <rosparam command="load"
            file="$(find  mybot_description)/config/gripper.yaml"
            ns="r2d2_gripper_controller" />

  <node name="r2d2_controller_spawner" pkg="controller_manager" type="spawner"
    args="r2d2_joint_state_controller
          r2d2_head_controller
          r2d2_gripper_controller
          --shutdown-timeout 3"/>
</launch>
